.header-right {
    width: 50%;
    min-width: 450px;
    border-radius: 10px;
    border: 1px solid #999;
    box-shadow: 3px 3px 6px #999;
    overflow: hidden;
}

.search-bar {
    width: 100%;
}

.search-option select,
.search-name input {
    padding: 15px;
    border: none;
}

.search-option select:focus,
.search-name input:focus {
    outline: none;
    caret-color: #000;
}
